body {
    font-family: 'Playfair Display', serif;
}
#home {
    background-image: url(../Images/BgAuth.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

#userAccount {
    background-image: url(../Images/BgAuth.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.overlay {
    background-color: rgba(0,0,0,.65);
}

h1 {
    margin-top: 100px;
    font-family: Ubuntu-Bold;
    letter-spacing: 1px;
}

.bg-white {
    width: 400px;
}

.form-control:focus {
    color: #212529;
    border-color: #555;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

.btn {
    background: linear-gradient(#a445b2,#d41872,#fa4299);
    width: 150px;
    height: max-content;
    letter-spacing: 1px;
    font-family: Ubuntu-Bold;
    transition: background .5s;
}

.btn:hover {
    background: #555;
}

p {
    letter-spacing: 1px;
    font-size: 12px;
}
