@model string

<a asp-action="Details" asp-route-id="@Model" class="btn btn-outline-warning rounded-circle "> <i class="fa-solid fa-eye"></i> </a>

<a asp-action="Update" asp-route-id="@Model" class="btn btn-outline-success rounded-circle "> <i class="fa-regular fa-pen-to-square"></i> </a>

<a asp-action="Delete" asp-route-id="@Model" class="btn btn-outline-danger rounded-circle ">  <i class="fa-solid fa-trash-can "></i> </a>
