@model DepartmentViewModel


<label asp-for="Code" class="mb-1 text-light fw-semibold"></label>
<input asp-for="Code" class="form-control" />
@* <span></span> //for validtion *@

<label asp-for="Name" class="my-1 text-light fw-semibold"></label>
<input asp-for="Name" class="form-control" />
@* <span></span> //for validtion *@

<label asp-for="DateOfCreation" class="my-1 text-light fw-semibold"></label>
<input asp-for="DateOfCreation" class="form-control" />
@* <span></span> //for validtion *@