@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="bg-white  rounded-3 shadow-lg ">

    <div class=" d-flex justify-content-center align-items-center flex-column  p-4 ">
        <p class="fw-bolder text-center "> Password Reset Link Has Been Sent To Your Email.  </p>
        <p class="text-danger fw-bolder "> Please Check Your Inbox !! </p>
    </div>

</div>


