@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}



<div class=" rounded-4  shadow-lg d-flex justify-content-center align-items-center ">
                                    @* for encrypted file *@
    <form asp-action="Create" enctype="multipart/form-data" >
        <div class=" row container p-5">

         <partial name="PartialViews/CreateUpdateEmpPartial" />

        </div>

        <div class="d-flex align-items-center justify-content-center my-4">
            <input type="submit" value="Create" class="btn btn-success me-3" />
            <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-light ms-3 "> Back To List</a>
        </div>
    </form>
</div>



@section validattionsScriptSection {

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}




